[1mace-tools[0m==0.0
[1maiohappyeyeballs[0m==2.4.6
[1maiohttp[0m==3.11.12
[1maiosignal[0m==1.3.2
[1mannotated-types[0m==0.7.0
[1manyio[0m==4.9.0
[1mattrs[0m==22.1.0
[1mbcrypt[0m==4.0.0
[1mcertifi[0m==2025.1.31
[1mcffi[0m==1.17.1
[1mcharset-normalizer[0m==3.4.1
[1mclick[0m==8.1.3
[1mcolorama[0m==0.4.6
[1mcontourpy[0m==1.3.1
[1mcryptography[0m==42.0.8
[1mcycler[0m==0.12.1
[1mdatasets[0m==2.19.2
[1mdecorator[0m==5.2.1
[1mdill[0m==0.3.8
[1mdistro[0m==1.9.0
[1mdocx[0m==0.2.4
[1met-xmlfile[0m==2.0.0
[1mfastapi[0m==0.115.12
[1mfilelock[0m==3.17.0
[1mflask[0m==2.2.2
[1mflask-cors[0m==3.0.10
[1mflask-jwt-extended[0m==4.4.4
[1mflwr[0m==1.13.1
[1mflwr-datasets[0m==0.3.0
[1mfonttools[0m==4.56.0
[1mfrozenlist[0m==1.5.0
[1mfsspec[0m==2024.3.1
[1mgreenlet[0m==3.1.1
[1mgrpcio[0m==1.64.3
[1mh11[0m==0.14.0
[1mhttpcore[0m==1.0.7
[1mhttpx[0m==0.28.1
[1mhuggingface-hub[0m==0.30.1
[1midna[0m==3.10
[1mimageio[0m==2.37.0
[1mimageio-ffmpeg[0m==0.6.0
[1miniconfig[0m==1.1.1
[1miterators[0m==0.0.2
[1mitsdangerous[0m==2.1.2
[1mjinja2[0m==3.1.2
[1mjiter[0m==0.9.0
[1mjoblib[0m==1.4.2
[1mjsonpatch[0m==1.33
[1mjsonpickle[0m==4.0.2
[1mjsonpointer[0m==3.0.0
[1mjsonschema[0m==4.23.0
[1mjsonschema-specifications[0m==2024.10.1
[1mkiwisolver[0m==1.4.8
[1mlangchain[0m==0.3.23
[1mlangchain-core[0m==0.3.51
[1mlangchain-text-splitters[0m==0.3.8
[1mlangsmith[0m==0.3.26
[1mlxml[0m==5.3.1
[1mmarkdown-it-py[0m==3.0.0
[1mmarkupsafe[0m==2.1.1
[1mmatplotlib[0m==3.10.0
[1mmdurl[0m==0.1.2
[1mmoviepy[0m==2.1.2
[1mmpmath[0m==1.3.0
[1mmsgpack[0m==1.1.0
[1mmultidict[0m==6.1.0
[1mmultiprocess[0m==0.70.16
[1mmy-project[0m @ file:///C:/Users/devil/Downloads/FL_AV/my-project
[1mneo4j[0m==5.28.1
[1mneo4j-driver[0m==5.0.1
[1mnetworkx[0m==3.4.2
[1mnumpy[0m==1.26.4
[1mopenai[0m==1.71.0
[1mopencv-python[0m==4.11.0.86
[1mopenpyxl[0m==3.1.5
[1morjson[0m==3.10.16
[1mpackaging[0m==24.2
[1mpandas[0m==2.2.3
[1mpathspec[0m==0.12.1
[1mpdfminer-six[0m==20240706
[1mpickleball-llm[0m @ file:///C:/Users/devil/Documents/Projects/Pickleball-Vision-LLM
[1mpillow[0m==10.4.0
[1mpip[0m @ file:///C:/b/abs_221m046x58/croot/pip_1737992062255/work
[1mpluggy[0m==1.0.0
[1mproglog[0m==0.1.11
[1mpropcache[0m==0.2.1
[1mprotobuf[0m==4.25.6
[1mpy[0m==1.11.0
[1mpy-cpuinfo[0m==9.0.0
[1mpyarrow[0m==16.1.0
[1mpyarrow-hotfix[0m==0.6
[1mpycparser[0m==2.22
[1mpycryptodome[0m==3.21.0
[1mpydantic[0m==2.11.2
[1mpydantic-core[0m==2.33.1
[1mpyjwt[0m==2.5.0
[1mpyparsing[0m==3.0.9
[1mpytest[0m==7.1.3
[1mpython-dateutil[0m==2.9.0.post0
[1mpython-dotenv[0m==0.21.0
[1mpytube[0m==15.0.0
[1mpytz[0m==2022.2.1
[1mpyvis[0m==0.3.2
[1mpyyaml[0m==6.0.2
[1mray[0m==2.10.0
[1mreferencing[0m==0.36.2
[1mregex[0m==2024.11.6
[1mrequests[0m==2.32.3
[1mrequests-toolbelt[0m==1.0.0
[1mrich[0m==13.9.4
[1mrpds-py[0m==0.22.3
[1msafetensors[0m==0.5.3
[1mscikit-learn[0m==1.6.1
[1mscipy[0m==1.15.2
[1mseaborn[0m==0.13.2
[1msetuptools[0m==75.8.0
[1mshellingham[0m==1.5.4
[1msix[0m==1.17.0
[1msniffio[0m==1.3.1
[1msqlalchemy[0m==2.0.40
[1mstarlette[0m==0.46.1
[1msympy[0m==1.13.1
[1mtenacity[0m==9.1.2
[1mthreadpoolctl[0m==3.6.0
[1mtokenizers[0m==0.21.1
[1mtomli[0m==2.0.1
[1mtomli-w[0m==1.2.0
[1mtorch[0m==2.6.0
[1mtorchvision[0m==0.21.0
[1mtqdm[0m==4.67.1
[1mtransformers[0m==4.51.0
[1mtyper[0m==0.12.5
[1mtyping-extensions[0m==4.13.1
[1mtyping-inspection[0m==0.4.0
[1mtzdata[0m==2025.1
[1multralytics[0m==8.3.76
[1multralytics-thop[0m==2.0.14
[1murllib3[0m==2.3.0
[1muv[0m==0.6.13
[1muvicorn[0m==0.34.0
[1mwerkzeug[0m==2.2.2
[1mwheel[0m==0.45.1
[1mwordcloud[0m==1.9.4
[1mxxhash[0m==3.5.0
[1myarl[0m==1.18.3
[1mzstandard[0m==0.23.0
